####################################################################################
## Darknet training/validation dataset config for person-vehicle-yolov4-tiny      ##
####################################################################################

# TODO: complete the darknet dataset config file

obj_data_filename =  ./data_config/person-vehicle-yolov4-tiny.data# path to .data file
train_path =  ./data/train/person-vehicle-yolov4-tiny# path in which to insert training images
val_path =  ./data/validation/person-vehicle-yolov4-tiny# path in which to insert validation images
videos_path =  /home/hexyw/videos# path to videos
labels_path = /home/hexyw/labels# path to labels


# YOU DO NOT NEED TO MODIFY THE PARAMETERS BELOW TO COMPLETE TH ASSIGNMENT
max_vids = None
max_frames = None
test_path = None
num_frames = 900
val_type = video # not implemented 
val_video_names = ./data/validation_videos.names
val_test_segments = None # validation and test segments file (overrides other settings if not None)
